header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 64px;
    margin: 0;
}

header img {
    height: 100px;
}

#logo:hover {
    cursor: pointer;
}

.nav-bar {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-bar > * {
    border-bottom: 1px solid transparent;
}

.nav-bar > *:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
}

.active-nav {
    border-bottom: 1px solid black;
}

body {
    background-color: bisque;

}

h1 {
    font-family: 'Abril Fatface', cursive;
}

div {
    display: flex;
    flex-direction: column;
}

#intro {
    display: flex;
    flex-direction: row;
    font-size: 5vh;
    max-height: 95vh;
    width: auto;

}

p {
    font-size: 30px;

}