* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009ddc99;
    color: #005596;
    font-size: 30px;
}
#wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1366px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    gap: 20px;
    width: 100%;
    padding: 20px;
}

#wrapper.fade-out {
    opacity: 0;
  }

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

header h1 {
    font-size: 48px;
    margin: 0;
    color: white;
    align-self: center;
    text-align: center;
}

header img {
    height: 100px;
    place-self: flex-start;
    align-self: center;
}

#logo:hover {
    cursor: pointer;
}

.nav-bar {
    display: flex;
    gap: 15px;
    align-items: center;
    place-self: flex-end;
    align-self: center;
}

.nav-bar > * {
    border-bottom: 1px solid transparent;
    white-space: nowrap;
    font-size: 22px;
}

.nav-bar > *:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
}

.active-nav {
    border-bottom: 1px solid black;
}