* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005596;
}
#wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    gap: 20px;
    width: 100%;
}

#wrapper.fade-out {
    opacity: 0;
  }

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 64px;
    margin: 0;
}

header img {
    height: 100px;
}

#logo:hover {
    cursor: pointer;
}

.nav-bar {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-bar > * {
    border-bottom: 1px solid transparent;
}

.nav-bar > *:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
}

.active-nav {
    border-bottom: 1px solid black;
}