header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 64px;
    margin: 0;
}

header img {
    height: 100px;
}

#logo:hover {
    cursor: pointer;
}

.nav-bar {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-bar > * {
    border-bottom: 1px solid transparent;
}

.nav-bar > *:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
}

.active-nav {
    border-bottom: 1px solid black;
}

html {
    height: 100%;
    width: 100%;
    font-family: 'Shadows Into Light', cursive;
  }
  
  h1, h2, h3 {
    text-align: center;
  }
  
  h1{
    font-size: 70px;
  }
  
  h2 {
    background-color: white;
    font-size: 50px;
  }
  
  body {
    margin: 5em;
    background-color: pink;

    font-family: 'Nunito', sans-serif; 
  }
  
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

  }


    

    #2 {
      max-width: 10vw;
      height: auto;
    }
  