#main-content {
    display: flex;
    flex-wrap: wrap;
}

#main-content > * {
    margin: 0;
    line-height: 48px;
}

#main-content p {
    font-size: 32px;
}

#main-content span {
    color: red;
    font-size: 48px;
    border-bottom: 1px solid transparent;
}

#main-content span:hover {
    border-bottom: 1px solid red;
    cursor: pointer;
}