#main-content {
    display: flex;
    flex-wrap: wrap;
}

#main-content > * {
    margin: 0;
    line-height: 48px;
}

#main-content p {
    font-size: 32px;
}

.quick-links {
    color: red;
    font-size: 48px;
    border-bottom: 1px solid transparent;
    white-space: nowrap;
}

.quick-links:hover {
    border-bottom: 1px solid red;
    cursor: pointer;
}