header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: purple;
}

header h1 {
  font-size: 64px;
  margin: 0;
  color: purple;
}

header img {
  height: 100px;
  width: auto;
}

header span{
  font-size: 30px;
}

#logo:hover {
  cursor: pointer;
}

.nav-bar {
  display: flex;
  gap: 15px;
  align-items: center;
}

.nav-bar > * {
  border-bottom: 1px solid transparent;
}

.nav-bar > *:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}

.active-nav {
  border-bottom: 1px solid black;
}


html {
  height: 100%;
  width: 100%;
  cursor: url(assets/fairy.png), auto;
}

body {
    
  font-family: Arial, sans-serif;
  color: darkolivegreen;
  background-color: #FCF7E5;
  padding: 3vw;
  text-align: center;
  margin: 5vw;

}

h1 {
    
  text-align: center;
  font-family: 'Kablammo', cursive;
  font-size:5em;
}

h2 {
  text-align: left;
}



div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;

}

#intro {
  flex-direction: row;
  gap: 45px;
  
}

img {
  width: 30vw;
  height: auto;
}


.bottom-left {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 10em;
  width: auto;
  
  
}

.bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 10em;
  width: auto;
}


#astrology {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

#ezra-photo {
  border-radius: 100px;
}

#duke {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

#education {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: flex-start;
 
}

#education h2 {
  text-align: left;
}

#ken {
  border-radius: 100px;

}

#bio {
  flex-direction: row;
  gap: 45px;
  
}