body {
    
    font-family: Arial, sans-serif;
    color: darkolivegreen;
    background-color: #f6f0de;
    padding: 50 px;
    text-align: center;
    margin: 7em;
 
}


header {
    color: mediumvioletred;
  
}

h1 {
    
  text-align: center;
  font-family: 'Kablammo', cursive;
  font-size:7em;
}



div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

}

#intro {
  flex-direction: row;
  
}

img {
  width: 20em;
  height: auto;
}

.wave{
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}