#holder {
    display: flex;
    flex-wrap: wrap;
    max-width: 815px;
    gap: 5px;
    place-items: center;
    place-content: center;
}

.student-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    transition: background-color .75s ease-in-out;
}

.student-card:hover {
    cursor: pointer;
    background-color: aliceblue;
}

#main-content {
    display: flex;
    align-items: center;
    justify-content: center;
}