html {
  background-color: lightgoldenrodyellow;
}


header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

header h1 {
    font-size: 64px;
    margin: 0;
}

header img {
    height: 100px;
    border-style: none;
}

#logo:hover {
    cursor: pointer;
}

.nav-bar {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-bar > * {
    border-bottom: 1px solid transparent;
}

.nav-bar > *:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
}

.active-nav {
    border-bottom: 1px solid black;
}


#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
}

.content-grid img {
  max-width: 20vw;
  max-height: auto;
  justify-content: space-between;

  
}

.test {
  max-width: 100%;
  max-height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
}

.text1 {
  display: none;
  z-index: 1;
  font-size: large;
}

.test img {
  z-index: -1;
}

.test:hover {
  cursor: pointer;
}

.test:hover .text1 {
  display: flex;
}

body {
  padding: 50px;
  text-align: center;
  margin: 7em;
}

img {
  
  max-width: 10vw;
  max-height: auto;
  border-style: solid;
  border-color: white;
  border-width: 30px;
}

h3 {
  font-size: 30px;
}

h2{
  align-self: center;
  font-size: 4em;
}